<div class="header-container">
  <img class="main-logo-img" (click)="goToHome()" src="../../../../assets/lemon_logo_transparent.png">
</div>


<div class="header-container opcoes">
  <ng-container *ngIf="!logado; else logadoTemplate">
    <button class="btn btn-hero-secondary" (click)="login()">Login</button>
    <button class="btn btn-hero-warning" style="margin-left: 15px;" (click)="register()">Registrar</button>
  </ng-container>

  <ng-template #logadoTemplate>
    <nb-actions
    class="Menu"
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <!-- <nb-action icon="nb-gear" class="toggle-layout" (click)="loadadmin()"></nb-action> -->
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.nome + ' ' + user?.sobrenome" picture="assets/usuario.png"></nb-user>
    </nb-action>
    <!-- <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action> -->
    </nb-actions>
  </ng-template>
</div>

<!-- Menu para celulares (hamburguer menu) -->
<div class="header-container offscreen">
  <div [ngClass]="{'hamburger': true, 'change': this.toggle}" (click)="this.toggle = !this.toggle;">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <ng-container *ngIf="!logado; else hamburgerlogado"> 
    <!-- Opcoes para quem nao esta logado -->
    <div class="burger-options" [ngClass]="{'hide': true, 'burger-open': this.toggle}">
      <p (click)="login(); this.toggle = !this.toggle">Login</p>
      <p (click)="register(); this.toggle = !this.toggle">Registrar</p>
    </div>
  </ng-container>

  <ng-template #hamburgerlogado>
    <!-- Opcoes para quem esta logado -->
    <div class="burger-options" [ngClass]="{'hide': true, 'burger-open': this.toggle}">
      <p *ngIf="user?.role != 'cliente'" (click)="admin(); this.toggle = !this.toggle">ADMIN</p>
      <p (click)="perfil(); this.toggle = !this.toggle">Perfil</p>
      <p (click)="sair(); this.toggle = !this.toggle">Sair</p>
    </div>
  </ng-template>

</div>
