<div class="row">
  <div class="col-md-12">
    <div id="ingresso">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="text-center">nome do evento - data do evento</h3>
        </div>
        <br>
        <br>
        <br>
      </div>
      <br />
      <div class="row">
        <div class="col-md-8">
          <h5>COMPRADOR: {{ userName | uppercase }}</h5>
          <br />
          <h5>SEXO: {{ ingresso.tipo | uppercase }}</h5>
          <br />
          <h5>VALOR: {{ ingresso.valor }}R$</h5>
        </div>
        <div class="col-md-4">
          <div class="qrcodecenter">
            <qrcode [qrdata]="ingresso.id" [size]="128" [level]="'M'"></qrcode>
          </div>
          <br />
        </div>
      </div>
      <br />
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button
          class="btn btn-primary"
          (click)="gerarPDF()"
          [disabled]="!compraVerificada"
        >
          Gerar Ingresso
        </button>
      </div>
    </div>
  </div>
</div>
