<nb-card>
  <nb-card-body>
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-sm-12 form-inline">
          <div class="has-search-icon">
            <input class="searchinput form-control" placeholder="Eventos" type="text" formControlName="evento">
          </div>
          <div class="has-location-icon">
            <input class="searchinput form-control" placeholder="Cidade" type="text" formControlName="local">
          </div>
          <select class="searchinput form-control" formControlName="categoria">
            <option [value]="null">Selecionar categoria</option>
            <option *ngFor="let categoria of categorias | async" [value]="categoria.nome">
              {{categoria.nome }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<div *ngIf="eventos == 'NAO ENCONTRADO'; else encontrado">
  <h1>NAO ENCONTRADO</h1>
</div>
<ng-template #encontrado>
  <div *ngFor="let evento of eventos">
    <ngx-show-evento [evento]=evento></ngx-show-evento>
  </div>
</ng-template>