.label {
    font-weight: bold;
    display: inline-block;
    text-align: left;
    width: 200px;
}

.value {
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
}

.btn{
    width: 100%;
}
