$max-height: 150px;

btn {
  overflow: hidden;
}

.img-container {
  height: $max-height;
}

img {
  width: 100%;
  max-height: $max-height;
  object-fit: cover;
}

.event-data {
  height: 50px;
}

.calendar-box {
  width: 50px;
  text-align: center;
}

.calendar-month {
  background-color: rgb(236, 72, 94);
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.calendar-day {
  color: black;
  font-size: 22px;
  font-weight: 200;
}

.event-info {
  padding: 10px;
}

.event-time {
  margin-right: 15px;
}

.event-local {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
