<div class="row">
  <div *ngFor="let evento of eventos; index as i" class="col-md-4">
    <div class="card img">
      <img class="card-img-top img-responsive" src="{{evento.url}}" alt="Card image cap" style="width:100%">
      <button [ngClass]="mouseOvered[i] ?'btn btn-hero-success btn-demo' : 'btn btn-hero-secondary btn-demo'" (mouseover)="mouseOvered[i]=true" (mouseout)="mouseOvered[i]=false" routerLink="/home/evento/{{evento.id}}">{{evento.nome}}</button>
    </div>
  </div>
</div>
<br>
<br>
<ngx-paginacao
(eventosEmit)="eventos=$event">
</ngx-paginacao>

