<div class="row" *ngIf="compra">
  <div class="col col-md-4">
    <nb-card>
      <nb-card-header>
        <div class="content">
            <div class="font-row font-secondary">
              <div class="header">
                <div class="fa fa-credit-card"> Compre com o Cartão</div>
              </div>
            </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="content">
          <div class="header">
            <ngx-stripe [preco]="compra.preco"></ngx-stripe>
          </div>
        </div>
    </nb-card-body>
    </nb-card>
  </div>
  <div class="col col-md-4">
    <nb-card>
        <nb-card-header>
          <div class="content">
              <div class="font-row font-secondary">
                <div class="header">
                  <div class="fa fa-credit-card"> Compre com Boleto</div>
                </div>
              </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="content">
            <div class="header">
              <ngx-stripe></ngx-stripe>
            </div>
          </div>
      </nb-card-body>
      </nb-card>
  </div>
  <div class="col col-md-4">
    <nb-card>
        <nb-card-header>
          <div class="content">
              <div class="font-row font-secondary">
                <div class="header">
                  <div class="fa fa-credit-card"> Compre com Depósito</div>
                </div>
              </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="content">
            <div class="header">
              <ngx-stripe></ngx-stripe>
            </div>
          </div>
      </nb-card-body>
      </nb-card>
  </div>
</div>
