<nb-card>
  <nb-card-header>Criar Categoria</nb-card-header>
  <nb-card-body>
    <form class="row" [formGroup]="formCategoria">
      <div class="col-md-4 input-group">
        <input formControlName="nome" placeholder="Nome da categoria"  class="form-control" type="text">
      </div>
      <div class="col-md-4">
        <nb-checkbox formControlName="mostrarHome" id="mostrarHome" class="form-control checkmark" type="checkbox">Mostrar Home</nb-checkbox>
      </div>
      <div class="col-md-4">
        <button [disabled]="!formCategoria.valid" (click)="OnSubmit(formCategoria.value)" class="btn btn-primary" type="submit">Criar</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
