<div class="row">
    <div class="col-sm-6">
        <div class="container links">
            <div class="row bottom-pad">
                <img class="logo-img" src="../../../../assets/lemon_logo_transparent.png">
            </div>
            <div class="row bottom-pad small-text">© COPYRIGHT 2018</div>
            <div class="row option">Devoluções</div>
            <div class="row option">Política de Privacidade</div>
            <div class="row option">Termos de uso</div>
        </div>
    </div>
    <div class="col-sm-6" [innerHTML]="sobre"></div>
</div>
<div class="separator"></div>
<div>
    <div class="col-md-12">
        <div class="pagamento">
            <img src="./../../../../assets/Pagamento-1.png">
            <img src="../../../../assets/Pagamento-2.png">
            <img src="./../../../../assets/Pagamento-3.png">
        </div>
    </div>
</div>
<span class="created-by">Criado com ♥ por <b><a href="http://www.jrcom.com.br/" target="_blank">Jr.Com </a></b>2018</span>
