<div class="center-content">
    <div class="container">
        <div class="row bottom-pad">
            <img class="logo-img" src="../../../../assets/lemon_logo_transparent.png">
        </div>
        <div class="row bottom-pad small-text">
            © COPYRIGHT 2018
        </div>
        <div class="row option">
            Política de Privacidade
        </div>
        <div class="row option">
            Termos de uso
        </div>
    </div>
    <div [innerHTML]="sobre"></div>
</div>
<div class="separator"></div>
<span class="created-by">Criado com ♥ por <b><a href="http://www.jrcom.com.br/" target="_blank">Jr.Com </a></b>2018</span>