<form [formGroup]="formEvent" (ngSubmit)="submit(formEvent.value)">
  <nb-card-body >
      <div _ngcontent-c41="" class="row">
        <div _ngcontent-c41="" class="col-sm-6">
          <div _ngcontent-c41="" class="form-group">
              <label for="nome">Nome:</label>
              <input [formControl]="formEvent.controls['nome']" id="nome" class="form-control" type="text">
          </div>
        </div>
        <div _ngcontent-c41="" class="col-sm-6">
          <div _ngcontent-c41="" class="form-group">
              <label for="categoria">Categoria:</label>
              <input [formControl]="formEvent.controls['categoria']" id="categoria" class="form-control" type="text">
          </div>
        </div>
      </div>
      <div _ngcontent-c41="" class="row">
        <div _ngcontent-c41="" class="col-sm-6">
        <div _ngcontent-c41="" class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea [formControl]="formEvent.controls['descricao']" id="descricao" class="form-control" rows="5"></textarea>
        </div>
      </div>
      <div _ngcontent-c41="" class="col-sm-6">
        <div _ngcontent-c41="" class="form-group">
            <label for="data">Data e Hora:</label>
            <input [formControl]="formEvent.controls['data']" id="data" class="form-control" type="datetime-local">
        </div>
      </div>
      </div>
      <div _ngcontent-c41="" class="form-group">
          <label for="ingressos">Ingressos:</label>
          <div [formGroup]="formEvent.controls['ingressos']">
              <div _ngcontent-c41="" class="row">
                  <div _ngcontent-c41="" class="col-sm-3">
                    <div [formGroup]="formEvent.controls['ingressos'].controls['lote']">
                        <label for="lote">Lote</label>
                        <input [formControl]="formEvent.controls['ingressos'].controls['lote'].controls['numero']" id="lote-numero" placeholder="numero" class="form-control" type="number">
                        <input [formControl]="formEvent.controls['ingressos'].controls['lote'].controls['disponiveis']" id="lote-disponiveis" placeholder="disponiveis" class="form-control" type="number">
                    </div>
                  </div>
                  <div _ngcontent-c41="" class="col-sm-3">
                      <div [formGroup]="formEvent.controls['ingressos'].controls['masculino']">
                          <label for="lote">Masculino</label>
                          <input [formControl]="formEvent.controls['ingressos'].controls['masculino'].controls['disponiveis']" id="masculino-disponiveis" placeholder="disponiveis" class="form-control" type="number">
                          <input [formControl]="formEvent.controls['ingressos'].controls['masculino'].controls['valor']" id="masculino-valor" placeholder="valor" class="form-control" type="number">
                      </div>
                    </div>
                    <div _ngcontent-c41="" class="col-sm-3">
                        <div [formGroup]="formEvent.controls['ingressos'].controls['feminino']">
                            <label for="lote">Feminino</label>
                            <input [formControl]="formEvent.controls['ingressos'].controls['feminino'].controls['disponiveis']" id="feminino-disponiveis" placeholder="disponiveis" class="form-control" type="number">
                            <input [formControl]="formEvent.controls['ingressos'].controls['feminino'].controls['valor']" id="feminino-valor" placeholder="valor" class="form-control" type="number">
                        </div>
                      </div>
                    <div _ngcontent-c41="" class="col-sm-3">
                      <div [formGroup]="formEvent.controls['ingressos'].controls['unisex']">
                        <label for="lote">Unisex</label>
                        <input [formControl]="formEvent.controls['ingressos'].controls['unisex'].controls['disponiveis']" id="unisex-disponiveis" placeholder="disponiveis" class="form-control" type="number">
                        <input [formControl]="formEvent.controls['ingressos'].controls['unisex'].controls['valor']" id="unisex-valor" placeholder="valor" class="form-control" type="number">
                        </div>
                      </div>  
              </div>       
          </div>
      </div>

      <div _ngcontent-c41="" class="row">
          <div _ngcontent-c41="" class="col-sm-6">
              <div _ngcontent-c41="" class="form-group">
                  <label for="url">url:</label>
                  <input [formControl]="formEvent.controls['url']" id="url" class="form-control" type="url">
              </div>
            </div>
              <div _ngcontent-c41="" class="col-sm-6">
                  <div _ngcontent-c41="" class="form-group">
                      <label for="url">id:</label>
                      <input [formControl]="formEvent.controls['id']" id="id" class="form-control">
                  </div>
              </div>
      </div>

      <button _ngcontent-c41="" [disabled]="!formEvent.valid" class="btn btn-primary" type="submit">Submit</button>
  </nb-card-body>
</form>
