@import '../../@theme-home/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

$lime_color: #49cc3d;

.heading {
  font-size: 1.75rem;
  color: $lime_color;
  padding: 10px;
}

.input-group {
  margin-bottom: 1rem;
}

.btn-hero-success {
  width: 50%;
}
.resetpass {
  color: $lime_color;
  cursor: pointer;
}
.resetpass:hover {
  text-decoration: underline;
}
.ion-social-facebook {
  font-size: 2em;
  color: $lime_color;
}
.ion-social-facebook:hover {
  cursor: pointer;
	color: #3a7999;
}
@include media-breakpoint-down(xs) {
  button:not(.btn-icon) {
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
  }
}
