.botaoComprar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 2.5rem;
    color: #696969;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.375rem;
    width: 30%;
    position: relative;
    left: 33%;
    padding: 2rem;
    margin: 2rem;
    background-color: transparent;
    border: 3px solid #dadfe6;
}
.botaoComprarCosmic {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.375rem;
    width: 30%;
    position: relative;
    left: 33%;
    padding: 2rem;
    margin: 2rem;
    background-color: transparent;
    border: 3px solid #8970ff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
}
.botaoComprar:hover, .botaoComprar:focus {
    background-color: #d3d3d3;
}
.botaoComprarCosmic:hover, .botaoComprarCosmic:focus {
    background-color:rgba(146, 89, 255, 0.1);
}