<ng-container *ngIf='evento'>
  <div>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>
              <h2>{{evento.nome}}</h2>
            </nb-card-header>
          <nb-card-body>
            <div class="row justify-content-center">
              <div class="col-md-auto" style="max-width: 70%;">
                <a routerLink="/home/evento/{{evento.id}}" >
                  <img class="img-fluid rounded" src="{{evento.url}}">
                </a>
              </div>
            </div>
            <div class="infoEvento">
              <div class="row">
                <i class="fa fa-calendar"></i>
                <h4>{{evento.data.seconds * 1000 | date:'d MMM, y - HH:mm'}}</h4>
                <!-- Multiplca o timestamp por mil pra virar uma data (se tirar o 1000 a data sera diferente) -->
              </div>
              <div class="row">
                  <i class="fa fa-asterisk"></i>
                  <h4>{{evento.categoria}}</h4>
                </div>
              <div class="row">
                <i class="fa fa-bars fa-2x"></i>
                <h5>Descrição do evento</h5>
                <p class="descricaoInfo">{{evento.descricao}}</p>
              </div>
            </div>
            
              <br>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Lote: {{evento.ingressos.lote.numero}}</th>
                      <th>Masculino</th>
                      <th>Feminino</th>
                      <th>Unisex</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-nowrap" scope="row">Disponiveis</th>

                      <td>{{evento.ingressos.masculino.disponiveis}}</td>
                      <td>{{evento.ingressos.feminino.disponiveis}}</td>
                      <td>{{evento.ingressos.unisex.disponiveis}}</td>
                      <td>{{evento.ingressos.lote.disponiveis}} </td>
                    </tr>
                    <tr>
                      <th class="text-nowrap" scope="row">Valor</th>

                      <td>{{evento.ingressos.masculino.valor}} R$</td>
                      <td>{{evento.ingressos.feminino.valor}} R$</td>
                      <td>{{evento.ingressos.unisex.valor}} R$</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            
            <div *ngIf="cosmic; else default" class="hover focus botaoComprarCosmic" type="button" routerLink="/home/evento/{{evento.id}}">Comprar</div>
            <ng-template #default>
            <button class="hover focus botaoComprar" type="button" routerLink="/home/evento/{{evento.id}}">Comprar</button>
            </ng-template>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</ng-container>
