<div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
  <h3>Envie a imagem aqui!</h3>
  <div class="file">
    <label class="file-label">
      <input class="file-input" type="file" (change)="startUpload($event.target.files)">
      <br>
      <div class="text-center">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
          <span class="file-label">
            ou escolha um arquivo…
          </span>
        </span>
      </div>
    </label>
  </div>
</div>

<div *ngIf="snapshot | async as snap">
  <div class="row">
    <div class="col-12">
      <div *ngIf="percentage | async as pct">
        <progress class="progress is-info" [value]="pct" max="100">
        </progress>
        {{ pct | number }}%
      </div>
      {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-4">
      <button (click)="task.pause()" class="btn btn-hero-warning btn-demo" [disabled]="!isActive(snap)">Pause</button>
      <button (click)="task.cancel()" class="btn btn-hero-danger btn-demo" [disabled]="!isActive(snap)">Cancel</button>
      <button (click)="task.resume()" class="btn btn-hero-info btn-demo" [disabled]="!(snap?.state === 'paused')">Resume</button>
    </div>
  </div> -->
  <div *ngIf="imgenviada">
    <button (click)="excluirimg()" class="btn btn-hero-danger btn-demo">Excluir imagem</button>
  </div>

</div>